body{
    font: normal 25pt Arial;
    background-size: 100%;
   background-image: url(—Pngtree—linear\ sticker\ school\ life\ sticker_1155239.png);
    
 
}

header{
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(18, 15, 19);

}

section{
border-radius:20px ;
background-color: white;
padding: 30px;
width: 500px;
margin: auto; 

}

#dados{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

footer{
color: #000;
text-align: center;
font: 1em sans-serif;
background-color: rgb(43, 126, 50);


}

#borda1{
display: flex;
align-self: center;
flex-direction: column;

}

#seborda {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 5px solid rgb(5, 5, 5)
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}